html{
  background-color: #000000;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 15rem;
  height: 26rem;
  background-color: black;
  margin: 15px;
  padding: 10px;
  border-radius: 10px
}

.card-img-top {
  border: solid grey 1px;
  height: 60%;
  width: auto;

}

.card-body{
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 1;
  justify-content: center;
  ams-flex: 1 1 auto;
  align-items: center;
  /* flex: 1 1 auto; */
  padding: 1.25rem
}

.card-title {
  color: #4553fe;
  text-align: center;
}

.card-text {
  color:#998011; text-align:center;
}
