<<!--div class="card my-5">
  <div class="card-body">-->


<div class="container">
  <div *ngFor="let movie of movies;" (click)="OnViewMovie(movie)"class="card">


    <img class="card-img-top" src="{{'https://image.tmdb.org/t/p/w500' + movie.filmImage}}"  alt="...">
    <div class="card-body">
      <!--            <button (click)="OnViewMovie(movie,i)"type="button" class="btn btn-primary">en savoir plus</button>-->
      <h4 class="card-title">{{movie.titre}}</h4>
     <!-- <span class="movie_info"><input class="favorite styled"
                                      type="button"
                                      value="Add to watchlist"></span>-->
      <p class="card-text">{{movie.dateSortie}}</p>

    </div>
  </div>
</div>
