<div class="card my-3 mb-1">
  <div class="card-body black">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="name" class="skyBlue myLabel">Pseudo</label>
            <input type="text" [(ngModel)]="user.pseudo"
                   class="form-control"
                   id="name"
                   name="pseudo"
                   placeholder="Enter your pseudo"
                   required #name="ngModel">
            <div class="form-group">
              <div class="form-group">
                <label for="name" class="skyBlue myLabel">Confirm your password</label>
                <input  type="password" [(ngModel)]="user.password"
                       class="form-control"
                       id="passsword"
                       name="password"
                       placeholder="Enter your password"
                       required #name="ngModel">
              </div>
            </div>
          </div>

          <div class="col">
            <label for="email" class="skyBlue myLabel">Email</label>
            <input margin="10px" type="text" [(ngModel)]="user.email"
                   class="form-control"
                   id="email"
                   name="email"
                   placeholder="Enter your email address"
                   required #email="ngModel">
            <div>
            </div>
            <div class="form-group">
              <label class="myLabel" for="name" class="skyBlue myLabel">Password</label>
              <input margin="10px" type="password" [(ngModel)]="user.password"
                     class="form-control"
                     id="confirmPassword"
                     name="confirmPassword"
                     placeholder="Confirm your password"
                     required #name="ngModel">
            </div>
          </div>
        </div>
      </div>
      <button type="submit" [disabled]="!userForm.form.valid"
              class="btn btn-info bg-darkBlue">Submit
      </button>
    </form>

  </div>
</div>
